<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>First Page</h1>
    <p>This is the first page of your static content</p>
    <ul>
        <li><a href="/jinja">Go to Jinja page</a></li>
        <li><a href="/jinja_expressions">Go to Jinja Expressions page</a></li>
        <li><a href="/jinja_data_structures">Go to Jinja Data Strucures page</a></li>
        <li><a href="/jinja_conditional">Go to Jinja Conditional page</a></li>
        <li><a href="/jinja_loops">Go to Jinja Loops page</a></li>
    </ul>
    
    
    
</body>
</html>