{% extends "base.html" %}
{% block content %}
    <ul>
    <!-- using jinja builtin test divisibleby -->
    {% for i in range(1,101) %}
        {% if i is divisibleby(3) and i is divisibleby(5) %}
        <li>FizzBuzz</li>
        {% elif i is divisibleby(3) %}
        <li>Fizz</li>
        {% elif i is divisibleby(5) %}
        <li>Buzz</li>
        {% else %}
        <li>{{ i }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <p>{{ hello_world("Nishu") }}</p>
    <p>{{ greeting }}</p>
{% endblock %}